:root {
  --light-color: #d3fbd8;
  --dark-color: #222;
  --dark-light-color: #333333;
  --yellow-color: #f9f871;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
  color: var(--light-color);
}
img {
  width: 25px;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--dark-light-color);
  & > .title {
    color: var(--yellow-color);

    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  & > .subtitle {
    color: var();
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  & > .form-login-box {
    position: relative;
    width: clamp(300px, 50vw, 500px);
    border-radius: 14px;
    overflow: hidden;
    & > .form-login-background {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;

      justify-content: center;
      width: 1000px;
      height: 1000px;
      background: conic-gradient(
        from 90deg,
        transparent 80%,
        rgba(249, 248, 113, 0.405) 90%,
        var(--yellow-color) 100%
      );
      animation: rotate 10s linear infinite;
    }
    & > .login-form {
      position: relative;
      z-index: 2;
      width: calc(100% - 4px);
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
      margin: 2px;
      background-color: var(--dark-color);
      display: flex;
      flex-direction: column;
      padding: 30px 30px;
      gap: 15px;
      border-radius: 12px;
      & > .input-group {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 20px;
        & > input {
          height: 50px;
          background-color: var(--dark-light-color);
          border-radius: 6px;
          padding: 5px 50px;
        }
        & > label {
          position: absolute;
          top: 50%;
          left: 50px;
          font-size: 14px;
          color: var(--light-color);
          transform: translateY(-50%);
          transition: all 0.2s ease-in-out;
        }
        &:has(input:focus) {
          & > label {
            top: 0px;
            left: 10px;
            font-size: 12px;
          }
        }
        &:not(:has(input:placeholder-shown)) {
          & > label {
            top: 0px;
            left: 10px;
            font-size: 12px;
          }
        }
        & > img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          &:last-of-type {
            right: 10px;
            cursor: pointer;
          }
          &:first-of-type {
            left: 10px;
          }
        }
        & > .message-error {
          position: absolute;
          bottom: -20px;
          left: 10px;
          color: red;
          font-size: 12px;
          display: none;
        }
      }
      & > .forgot-password {
        text-align: right;
        color: var(--light-color);
        cursor: pointer;
        font-size: 14px;
        text-decoration: underline;
      }
      & > .btn-group {
        margin-bottom: 15px;
        gap: 10px;
        display: flex;

        justify-content: space-around;
        & > button {
          width: 100%;
          padding: 10px;
          border-radius: 6px;
          background-color: var(--yellow-color);
          color: #222;
          font-weight: 500;
          cursor: pointer;
          &:last-of-type {
            background-color: var(--light-color);
            color: #222;
          }
        }
      }
      & > .other {
        display: flex;
        justify-content: center;
        gap: 20px;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
